extends uilayout

block content
	.container
		include errormessage
		.row
			.col-md-7
				h1
					strong RoadGL
				h3
					| Paving the path for tomorrow
					h4 Choose the track you would like to label
					.panel-group(role='tablist')
						.panel.panel-default
							- each tracks, run in runs
								a.collapsed(data-toggle='collapse', href='#' + run, aria-expanded='false', aria-controls=run)
									.panel-heading(role='tab', id="heading" + run)
										h4.panel-title.level1
											= run
								.panel-collapse.collapse(id=run, role='tabpanel', aria-labelledby="heading" + run, aria-expanded='false', style='height: 0px;')
									ul.list-group
										- each edits, track in tracks
											li
												a(href="/edit?editor=lane&route=" + run + "%2F" + track + "&filename=" + filenames[edits[0]]).level2
													=track