- if (message){
  .alert.alert-warning.alert-dismissible.fade.in(role='alert')
    button.close(type='button', class="close", data-dismiss='alert')
      span(aria-hidden='true') &times;
      span.sr-only Close
    p!=message
-}