html
	head
		script(type='text/javascript', src='/vendor/jquery.js')
		script(type='text/javascript', src='/vendor/bootstrap.min.js')
		link(rel="stylesheet", href='/vendor/bootstrap.min.css')
		link(rel='stylesheet', href='/stylesheets/files.css')
		title RoadGLFiles
	body
		section#header-section
			.container
				.row
					#intro.col-md-5
						h1
							strong RoadGL
						h3
							| Paving the path for tomorrow
						#header-info
						h4 Choose the track you would like to label
						- each vals, key in dir
							.level1
								h3
									= key
								- each val in vals
									.level2
										a(href="/?route=" + key + "%2F" + val)
											h4 
												= val
							