html
	head
		script(src='/javascripts/jquery-2.1.1.min.js')
		script(src='/javascripts/angular.min.js')
		script(src='/javascripts/three.min.js')
		script(src='/javascripts/PLYLoader.js')
		script(src='/javascripts/OrbitControls.js')
		script(src='/javascripts/DDSLoader.js')
		script(src='/javascripts/MTLLoader.js')
		script(src='/javascripts/OBJMTLLoader.js')
		script(src='/javascripts/TypedArrayUtils.js')
		script(src='/javascripts/BinaryLoader.js')
		script(src='/javascripts/async.js')
		script(src='/javascripts/fpsmeter.js')
		link(rel='stylesheet', href='/stylesheets/style.css')
		title RoadGL
	body(ng-app='roadglApp')
		div(ng-controller='AppCtrl')
			canvas#road
				canvas
			#overlay
				#instructions.tab
					h1 
						=track
					h2 Instructions
					h4 Ctrl + Mouse to look around
					h4 Space to Play/Pause
					h4 Arrow Keys to move car
				#actions.tab
					button#undo.actionBtn(type="button")
						|Undo
					button#redo.actionBtn(type="button")
						|Redo
				#doneDiv.tab
					button#done.actionBtn(type="button")
						|Done
				#debug.tab
					p#debugText {{debugText}}
			#rightOverlay
				#fps
				#slideDiv.tab
					h3 Drag range
					input#drrange(type="range", min="1", max="60", value="15", step="5")
		#videoPlayer
			div
				canvas#projectionCanvas
		script(src='/controllers.js')
		script(src='/app.js')
		script(src='/editor.js')
		script(src='/util.js')
		script(src='/video.js')
