html
	head
		link(rel='shortcut icon', href='/favicon.ico', type='image/x-icon')
		link(rel='icon', href='/favicon.ico', type='image/x-icon')
		link(rel='stylesheet', href='/vendor/bootstrap.min.css')
		link(rel='stylesheet', href='/stylesheets/editor.css')
		link(rel='stylesheet', href='/vendor/loading-bar.css')
		title=title
	body(ng-app='roadglApp')
		div(ng-controller='AppCtrl', ng-trackinfo='#{JSON.stringify(trackInfo)}')
			canvas#road
				canvas
			#overlay
				#title.tab
					h4 {{trackInfo.track}}
				#instructions.tab
					h3 Instructions
					p Ctrl + Mouse to look around
					p Space to Play/Pause
					p Arrow Keys to move car
				#tips.tab
					h3 Click a point and then:
					p 'f' to fork
					p 'a' to append
					p Esc to exit!
				#actions.tab
					button#undo.actionBtn(type="button")
						|Undo
					button#redo.actionBtn(type="button")
						|Redo
				#doneDiv.tab
					button#save.actionBtn(type="button")
						|Save
				#doneDiv.tab
					a(href="/")
						button#quit.actionBtn(type="button")
							|Quit
			#rightOverlay
				#fps.tab
				#slideDiv.tab
					h3 Drag range
					input#drrange(type="range", min="1", max="60", value="15", step="5")
				#debug.tab
					p#debugText {{debugText}}
			#videoPlayerWrap
				#videoPlayer
					canvas#projectionCanvas
				nav.hidden
					.text-center
						ul.pagination#cameraOpts
							li.active
								a(href='#') 1
							- for (var i = 2; i < numCameras+1; ++i) {
								li
									a(href='#')
										= i
							- }
		script(src='/vendor/jquery.js')
		script(src='/vendor/bootstrap.min.js')
		script(src='/javascripts/angular.min.js')
		script(src='/javascripts/angular-animate.min.js')
		script(src='/vendor/loading-bar.js')
		script(src='/javascripts/three.min.js')
		script(src='/javascripts/OrbitControls.js')
		script(src='/javascripts/TypedArrayUtils.js')
		script(src='/javascripts/BinaryLoader.js')
		script(src='/javascripts/async.js')
		script(src='/javascripts/fpsmeter.js')
		script(src='/javascripts/jszip.js')
		script(src='/javascripts/jszip-utils.js')
		script(src='/javascripts/numeric-1.2.6.js')
		script(src='/javascripts/jpeg_encoder_basic.js')
		script(src='/javascripts/jsmpg.js')
		script(src='/app.js')
		script(src='/editor.js')
		script(src='/loading.js')
		script(src='/util.js')
		script(src='/video_nacl.js')
		script(src='/videoProjection.js')
		script(src='/radar.js')
		script(src='/boundingBoxes.js')
