body, html {
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 100%;
	font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

body, h1, h2, h3, h4, li, a, button, label {
	font-weight: 100;
	color: #fff;
	letter-spacing: 0.09em;
}

button:focus {
	outline:0;
}

.tab{
	margin-bottom: 15px;
}

#left-top{
	width: 200px;
	position: absolute;
	top: 0;
	left: 0;
	margin: 20px 20px;
}

#left-bottom{
	position: absolute;
	bottom: 0px;
	left: 0;
	margin: 20px 20px;
}

#center-top{
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	left: 0;
	right: 0;
	top: 2px;
}

#center-bottom{
	width: auto;
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	left: 0;
	right: 0;
	bottom: 0;
}

#right-side{
	width: 200px;
	position: absolute;
	top: 0;
	right: 0;
	margin: 20px 20px;
}

.pagination>li>a, .pagination>li>span{
	padding: 5px 12px;
	border:none;
	color: #000;
	line-height: 1.0;
	background: rgba(180, 180, 180, 0.95);
}

#cameraOpts{
	margin:0px;
	padding-left: 0px;
	border-radius: 0px;
}

#scrubberDiv{
	width: 100%;
	max-width: 700px;
	padding: 0px 30px;
	margin-left: auto;
	margin-right: auto;
    position: relative;
}

.scrubberTag {
    position: absolute;
    z-index: 10;
    height: 4px;
    left: 0px;
}

.scrubberTagPopup {
    width: 150px;
    padding: 10px 10px 1px 10px;
    background-color: rgba(255,255,255,0.2);
    position: relative;
    display: none;
}

.scrubberTag:hover > .scrubberTagPopup {
    display: block;
}

#title{
	text-align: center;
}

#options{
	margin-top: 20px;
	padding: 5px 10px;
	background: none;
	color: white;
}

#log{
	color: #fff;
	width: 100%;
	font-size: 30px;
}

.infoBtn {
    width: 100%;
    border: none;
    text-align:left;
    text-decoration:none;
    box-shadow: 0 0 3px gray;
    font-size: 1.0em;
    background: #000;
    color: #fff;


}

#actions{
}

#slideDiv{
	background: none;
	padding: 10px 10px;
}

.actionBtn {
    width: 80px;
    height: 80px;
    border: 1px solid #f5f5f5;
    border-radius: 50%;
    text-align:center;
    text-decoration:none;
    box-shadow: 0 0 3px gray;
    margin: 10px 10px;
    font-size: 1.0em;
    background: none;
    color: #fff;
}

.tag-input{
	background: none;
}

#fork{
	background: black;
}

#append{
	background: black;
}

#done{
	background: black;
}

#fork:hover, #append:hover{
	background: rgb(50,150,150);;
}

#done:hover{
	background: rgb(150,50,150);;
}

#undo:hover{
	background: rgb(200,50,50);
}

#redo:hover{
	background: rgb(255,150, 50);
}

#save:hover,#categoryAddBtn:hover,#tagAddBtn:hover{
	background: rgb(50,150,50);
}

.greenBackground {
    background: rgb(50,150,50);
}

#right-bottom {
	position: absolute;
	right: 10px;
	bottom: 10px;
}

#videoPlayer{
	width:100%;
}
