body, html {
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 100%; 
} 

h1, h2, h3, h4, li, p, a {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: 100;
}

ul{
	padding-left: 0px;
}

li{
	list-style: none;

}

a, a:focus, a:hover{
	text-decoration: none;
	color: #000;
	font-size: 20px;
}

a:hover{
	color: #500;
}

#header-section {
	padding-top: 120px;
	padding-bottom: 180px;
	position: relative;
	height: 100%;
	overflow: hidden;
	color: white;
	background: url('/files/bg.png');
	background-size: cover;
	background-repeat: no-repeat;
}

#intro{
	background: rgba(240,240,240, 0.8);
	border-radius: 30px;
	padding: 30px;
	color: #000;
}